In [1]:
#Import library numpy pandas dan scikit-learn
import numpy as np
import pandas as pd
from sklearn import tree

In [3]:
#Membaca Dataset dari File ke Pandas dataFrame
IrisDataset = pd.read_csv('Dataset Iris.csv', delimiter=';', header=0)

In [11]:
IrisDataset.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,7.00,3.02,4.07,1.04,Iris-versicolor
1,2,6.04,3.02,4.05,1.05,Iris-versicolor
2,3,6.09,3.01,4.09,1.05,Iris-versicolor
3,4,5.05,2.03,4.00,1.03,Iris-versicolor
4,5,6.05,2.08,4.06,1.05,Iris-versicolor

In [13]:
#Mengubah kelas (kolom "Species") dari String ke Unique-Integer
IrisDataset["Species"] = pd.factorize(IrisDataset.Species)[0]

In [16]:
IrisDataset.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0           7.00          3.02           4.07          1.04        0
1           6.04          3.02           4.05          1.05        0
2           6.09          3.01           4.09          1.05        0
3           5.05          2.03           4.00          1.03        0
4           6.05          2.08           4.06          1.05        0

In [17]:
print(IrisDataset)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            7.00          3.02           4.07          1.04        0
1            6.04          3.02           4.05          1.05        0
2            6.09          3.01           4.09          1.05        0
3            5.05          2.03           4.00          1.03        0
4            6.05          2.08           4.06          1.05        0
..            ...           ...            ...           ...      ...
95           6.07          3.00           5.02          2.03        1
96           6.03          2.05           5.00          1.09        1
97           6.05          3.00           5.02          2.00        1
98           6.02          3.04           5.04          2.03        1
99           5.09          3.00           5.01          1.08        1

[100 rows x 5 columns]

In [14]:
#Menghapus kolom id
IrisDataset = IrisDataset.drop(labels="Id", axis=1)

In [18]:
print(IrisDataset)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            7.00          3.02           4.07          1.04        0
1            6.04          3.02           4.05          1.05        0
2            6.09          3.01           4.09          1.05        0
3            5.05          2.03           4.00          1.03        0
4            6.05          2.08           4.06          1.05        0
..            ...           ...            ...           ...      ...
95           6.07          3.00           5.02          2.03        1
96           6.03          2.05           5.00          1.09        1
97           6.05          3.00           5.02          2.00        1
98           6.02          3.04           5.04          2.03        1
99           5.09          3.00           5.01          1.08        1

[100 rows x 5 columns]

In [19]:
#Mengubah dataFrame ke array Numpy
IrisDataset = IrisDataset.to_numpy

In [ ]:
print(IrisDataset)

In [ ]:
#Membagi Dataset => 80 baris data untuk training dan 20 baris data untuk testing
dataTraining = np.concatenate((IrisDataset[0:40, :], IrisDataset[50:90, :]),
                              axis=0)
dataTesting = np.concatenate((IrisDataset[40:50, :], IrisDataset[90:100, :]),
                             axis=0)

In [ ]:
print(dataTraining)

In [ ]:
#Memecah Dataset ke Input dan Label
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
print(labelTraining)
len(labelTraining)

In [ ]:
#Mendefinisikan Decision Tree Classifier
model = tree.DecisionTreeClassifier()

In [ ]:
#Mentraining Model
model = model.fit(inputTraining, labelTraining)

In [ ]:
#Memprediksi Input Data Testing
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

In [ ]:
#Menghitung Akurasi
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar :", prediksiBenar, "data")
print("Prediksi Salah :", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")